/* 常用样式 */
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Microsoft YaHei;
    font-size: 14px;
    background-color: #fff;
    min-width: 1200px;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style: none;
}
img {
    border: none;
    display: block;
}
input {
    outline: none;
}
.clearfix::after {
	content: "";
	display: block;
    clear: both;
}
.fll {
    float: left !important;
}
.flr {
    float: right !important;
}
.main-content {
    width: 1200px;
    margin: 0 auto;
}
.mart-10 {
    margin-top: 10px !important;
}
.mart-16 {
    margin-top: 16px !important;
}
.cl-ff5500 {
    color: #ff5500 !important;
}
.cl-e94709 {
    color: #e94709 !important;
}
.cl-2c {
    color: #2c2c2c !important;
}
.cl-9fa0a0 {
    color: #9fa0a0 !important;
}
.text-rt {
    text-align: right !important;
}
/* top-bar */
.top-bar {
    height: 10px;
    background-color: #00948D;
}
/* main-nav */
.main-nav {
    width: 100%;
    height: 76px;
    margin: 10px 0px;
}
.logo a{
	width: 270px;
    height: 76px;
	display: block;
}
.nav {
    list-style: none;
    overflow: hidden;
}
.nav li {
    float: right;
    text-align: center;
    line-height: 76px;
    font-size: 18px;
    margin-left: 24px;
}
.nav li a {
    color: #000;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}
.nav li.active a,
.nav li:hover a {
    color: #00948D;
}
/* homeBanner */
.homeBanner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 520px;
}
.homeBanner .x-callbacks li {
    width: 100%;
    height: 520px;
    position: relative;
    left: 50%;
    margin-left: -50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.x-callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
}
.x-callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.x-callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    z-index: 3;
    overflow: hidden;
    text-decoration: none;
    display: none;
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    height: 89px;
    width: 35px;
    margin-top: -44px;
    _margin-top: -44px;
    cursor: pointer;
}
.x-callbacks_nav.x-callbacks1_nav.prev {
    left: 10px;
    background: url(/style/images/arrow-left.png) no-repeat;
}
.x-callbacks_nav.x-callbacks1_nav.next {
    right: 10px;
    background: url(/style/images/arrow-right.png) no-repeat;
}
.x-callbacks_tabs.x-callbacks1_tabs {
    position: relative;
    z-index: 100;
    top: -35px;
    text-align: center;
}
.x-callbacks_tabs.x-callbacks1_tabs li {
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    zoom: 1;
}
.x-callbacks_tabs.x-callbacks1_tabs li a {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: url(/style/images/banner-newico.png);
    position: absolute;
    left: 0;
    z-index: 1000;
    color: rgba(100, 200, 300, 0);
    color: transparent;
    zoom: 1;
}
.x-callbacks_tabs.x-callbacks1_tabs li.x-callbacks_here a {
    background: url(/style/images/banner-ico.png);
}

/* advantage */
.advantage {
    width: 100%;
    background-color: #00948D;
}
.advantage ul li {
    width: 300px;
    float: left;
    margin: 24px 0px;
    text-align: center;
}
.advantage-icon {
    width: 48px;
    height: 48px;
    display: block;
    margin: 0px auto;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(20, 105, 189, 0.1), 0 0 10px 10px #a4cff2,
            0 0 0 10px rgba(20, 105, 189, 0.5);
    }

    100% {
        box-shadow: 0 0 0 2px rgba(20, 105, 189, 0.1), 0 0 10px 10px #a4cff2,
            0 0 0 10px rgba(20, 105, 189, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}

@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #a4cff2,
            0 0 0 10px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #a4cff2,
            0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #a4cff2,
            0 0 0 10px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #a4cff2,
            0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}
.advance1-icon {
    background: url(/style/images/advance1.png) no-repeat;
    background-size: cover;
}
.advance2-icon {
    background: url(/style/images/advance2.png) no-repeat;
    background-size: cover;
}
.advance3-icon {
    background: url(/style/images/advance3.png) no-repeat;
    background-size: cover;
}
.advance4-icon {
    background: url(/style/images/advance4.png) no-repeat;
    background-size: cover;
}
.advantage-tips {
    margin-top: 12px;
}
.advantage-title {
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}
/* platform */
.platform {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 23px;
}

/* recommend */
.recommend {
    height: 460px;
    overflow: hidden;
}
.recommend-tips {
    overflow: auto;
}
.projectTitle {
    color: #2c2c2c;
    font-size: 24px;
    line-height: 36px;
    margin-top: 12px;
    text-indent: 18px;
    position: relative;
}
.projectIcon {
    width: 4px;
    height: 28px;
    background-color: #d2a637;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 5px;
}
/* notice */
.recommend-more a {
    height: 58px;
    font-size: 16px;
    line-height: 58px;
    color: #9fa0a0;
}
.recommend-more a:hover {
    color: #00948D;
}
.noticeContainer {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.noticeContainer a {
    display: block;
}
.notice-images {
    float: left;
    width: 80px;
    height: 60px;
    margin-right: 16px;
    background-color: #226E6A;
	margin-top: 5px;
}
.noticeContainer:hover .notice-images{
    background-color: #d2a637;
}
.notice-images img {
    width: 100%;
    height: 100%;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transform: scale(0.98);
    -moz-transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -o-transform: scale(0.98);
}
.noticeContainer:hover .notice-images img {
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.notice-summary {
    float: left;
    width: 1040px;
}
.notice-title {
    font-size: 16px;
    line-height: 30px;
    color: #d2a637;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	width: 960px;
    margin-bottom: 10px;
}
.notice-time{
	margin-top: 5px;
	font-size: 12px;
    line-height: 24px;
	color:#9fa0a0;
}
.notice-content {
    font-size: 14px;
    line-height: 24px;
    color: #9fa0a0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 院务公开 */
.publicityContainer {
    width: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.publicityContainer:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.publicityContainer a {
    display: block;
}
.publicityContainer:hover .publicity-time{
    background-color: #d2a637;
}
.publicity-time {
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    background-color: #226E6A;
}
.publicity-time .publicity-year{
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
}
.publicity-time .publicity-day{
    font-size: 24px;
    line-height: 24px;
    margin-top: 4px;
}
.publicity-summary {
    margin-left: 24px;
    
    width: 1040px;
}
.publicity-title{
    font-size: 16px;
    line-height: 30px;
    color: #333;
}
.publicity-content{    
    font-size: 14px;
    line-height: 24px;
    color: #9fa0a0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* partner */
.partner-container {
    width: 1162px;
    background-color: #fff;
    height: 258px;
    border-radius: 5px;
    padding: 19px 19px;
}
.partner-detail {
    width: 128px;
    height: 127px;
    border: 1px solid #d5d5d5;
    float: left;
    cursor: pointer;
}
.partner-detail a img {
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transform: scale(0.95);
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
}
.partner-detail a:hover img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.bdl {
    border-left: none;
}
.bdt {
    border-top: none;
}
/* footer */
.siteRelated {
    width: 100%;
    height: 198px;
    background-color: #1A6F65;
}
.downApp {
    width: 97px;
    margin-top: 27px;
    cursor: pointer;
    margin-right: 41px;
}
.downAppIcon {
    width: 90px;
    height:110px;
}
.downAppTip {
    font-size: 16px;
    line-height: 40px;
    color: #2c2c2c;
    text-align: center;
}
.customer {
    width: 500px;
    margin-top: 60px;
}
.customer .service {
    font-size: 16px;
    line-height: 24px;    
	color: rgba(255, 255, 255, 0.6);
}
.customer .service span{
	color: #fff;
}
.siteMap {
    width: 300px;
    margin-top: 60px;
}
.siteMap ul {
    width: 100%;
}
.siteMap ul li {
    width: 110px;
    float: left;
}
.siteMap ul li a {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}
.siteMap ul li a:hover {
    color: #fff;
}
.weChat {
    width: 95px;
    margin-left: 23px;
    margin-top: 28px;
}
.weChatIcon {
    width: 95px;
    height: 95px;
}
.weChatDetail {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    text-align: center;
}
/* copyright */
.copyright {
    width: 100%;
    height: 60px;
    background-color: #085d52;
}
.copyright-info {
    font-size: 14px;
    line-height: 60px;
    color: #fff;
}
.certification {
	font-size: 14px;
    line-height: 60px;
	color: #c4c4c4;
}
.certification a{
	color: rgba(255, 255, 255, 0.6);
	display: inline-block;
}
.certification a:hover{
	color: #fff;
}
