/* 常用样式 */
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, SimSun, 'Segoe UI', Tahoma,
        Helvetica, sans-serif;
    font-size: 14px;
    background-color: #fff;
    min-width: 1200px;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style: none;
}
img {
    border: none;
    display: block;
}
input {
    outline: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.fll {
    float: left !important;
}
.flr {
    float: right !important;
}
.main-content {
    width: 1200px;
    margin: 0 auto;
}
.mart-10 {
    margin-top: 10px !important;
}
.mart-16 {
    margin-top: 16px !important;
}
.cl-ff5500 {
    color: #ff5500 !important;
}
.cl-e94709 {
    color: #e94709 !important;
}
.cl-2c {
    color: #2c2c2c !important;
}
.cl-9fa0a0 {
    color: #9fa0a0 !important;
}
.cl-555 {
    color: #555;
}
.text-rt {
    text-align: right !important;
}
/* top-bar */
.top-bar {
    height: 10px;
    background-color: #00948d;
}
/* main-nav */
.main-nav {
    width: 100%;
    height: 76px;
    margin: 10px 0px;
}
.logo a {
    width: 270px;
    height: 76px;
    display: block;
}
.nav {
    list-style: none;
    z-index: 999;
}
.nav li {
    float: right;
    text-align: center;
    line-height: 36px;
    padding: 20px 0px;
    font-size: 18px;
    margin-left: 24px;
    position: relative;
}
.nav li .nav-link {
    color: #000;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}
.nav li.active .nav-link,
.nav li:hover .nav-link {
    color: #00948d;
}
.nav li .sub-menu {
    padding: 12px;
    position: absolute;
    top: 60px;
    left: -34px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    min-width: 120px;
    background: #fff !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    z-index: 999;
    display: none;
}
.nav li .sub-menu .sub-menu-item {
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #666;
}
.nav li .sub-menu .sub-menu-item.active,
.nav li .sub-menu .sub-menu-item:hover {
    color: #00948d;
}
/* homeBanner */
.homeBanner {
    width: 100%;
    height: 400px;
}
.homeBanner .banner-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.homeBanner .swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
    border: 1px solid #ccc;
    width: 10px;
    height: 10px;
}
.homeBanner .swiper-pagination-bullet-active {
    background: #e6b600;
    border: 1px solid #e6b600;
}
.homeBanner .swiper-button-handle {
    height: 89px;
    width: 35px;
    display: none;
}
.homeBanner .swiper-button-handle.swiper-button-prev {
    background: url(/style/images/arrow-left.png) no-repeat;
}
.homeBanner .swiper-button-handle.swiper-button-next {
    background: url(/style/images/arrow-right.png) no-repeat;
}

/* advantage */
.advantage {
    width: 100%;
    background-color: #00948d;
}
.advantage ul li {
    width: 300px;
    float: left;
    margin: 24px 0px;
    text-align: center;
    cursor: pointer;
}
.advantage-icon {
    width: 48px;
    height: 48px;
    display: block;
    margin: 0px auto;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(20, 105, 189, 0.1), 0 0 10px 10px #a4cff2,
            0 0 0 10px rgba(20, 105, 189, 0.5);
    }

    100% {
        box-shadow: 0 0 0 2px rgba(20, 105, 189, 0.1), 0 0 10px 10px #a4cff2,
            0 0 0 10px rgba(20, 105, 189, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}

@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #a4cff2,
            0 0 0 10px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #a4cff2,
            0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #a4cff2,
            0 0 0 10px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #a4cff2,
            0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}
.advance1-icon {
    background: url(/style/images/advance1.png) no-repeat;
    background-size: cover;
}
.advance2-icon {
    background: url(/style/images/advance2.png) no-repeat;
    background-size: cover;
}
.advance3-icon {
    background: url(/style/images/advance3.png) no-repeat;
    background-size: cover;
}
.advance4-icon {
    background: url(/style/images/advance4.png) no-repeat;
    background-size: cover;
}
.advantage-tips {
    margin-top: 12px;
}
.advantage-title {
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}
/* platform */
.platform {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 23px;
}

/* recommend */
.recommend {
    height: 460px;
    overflow: hidden;
}
.recommend-tips {
    overflow: auto;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 24px;
}
.projectTitle {
    color: #2c2c2c;
    font-size: 24px;
    line-height: 36px;
    margin-top: 12px;
    text-indent: 18px;
    position: relative;
}
.projectIcon {
    width: 4px;
    height: 28px;
    background-color: #e6b600;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 5px;
}
.department-tabs {
    width: 100%;
}
.department-list {
    padding: 20px 0px;
    width: 1250px;
    height: 140px;
    overflow: hidden;
}
.department-list li {
    width: 200px;
    height: 52px;
    position: relative;
    margin-bottom: 18px;
    margin-right: 50px;
    float: left;
    transition: all 0.5s ease 0s;
}
.department-list li .left-bg-bar {
    width: 10px;
    height: 52px;
    position: absolute;
    top: 0;
    overflow: hidden;
}
.department-list li .left-bg-bar img {
    width: 10px;
    height: 52px;
    filter: drop-shadow(#444 100px 0);
    transform: translateX(-100px);
    object-fit: cover;
}
.department-list li:hover .left-bg-bar img {
    filter: drop-shadow(#09b0a6 100px 0);
}
.department-list li .right-bg-bar {
    right: 0px;
    transform: rotateY(180deg);
}
.department-list li a {
    width: 180px;
    margin: 0 auto;
    height: 100%;
    display: block;
    line-height: 52px;
    box-sizing: border-box;
    padding-left: 20px;
    color: #444;
    font-size: 14px;
    background-image: url('/style/images/dep_icon_dot.svg');
    line-height: 52px;
    max-height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
}
.department-list li:hover a {
    color: #09b0a6;
    font-weight: bold;
    background-image: url('/style/images/dep_icon_dotyello.svg');
}
.department {
    float: left;
    line-height: 48px;
    padding-right: 20px;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin-left: 20px;
    color: #444;
    cursor: pointer;
}
.department:hover,
.department.active {
    color: #09b0a6;
}
.department:first-child {
    margin-left: 0px;
}
.department::after {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background-color: #9fa0a0;
    position: absolute;
    top: 14px;
    right: 0;
}
.department:last-child::after {
    display: none;
}
/* notice */
.recommend-more a {
    height: 58px;
    font-size: 16px;
    line-height: 58px;
    color: #9fa0a0;
}
.recommend-more a:hover {
    color: #00948d;
}
.notice {
    padding-top: 30px;
}
.noticeContainer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 580px;
    float: left;
    margin-right: 40px;
}
.noticeContainer:nth-child(2n) {
    margin-right: 0px;
}
.noticeContainer a {
    display: block;
}
.notice-images {
    float: left;
    width: 80px;
    height: 60px;
    margin-right: 16px;
    background-color: #226e6a;
    margin-top: 5px;
}
.noticeContainer:hover .notice-images {
    background-color: #e6b600;
}
.notice-images img {
    width: 100%;
    height: 100%;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transform: scale(0.98);
    -moz-transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -o-transform: scale(0.98);
}
.noticeContainer:hover .notice-images img {
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.notice-summary {
    float: left;
    width: 450px;
}
.notice-title {
    font-size: 16px;
    line-height: 30px;
    color: #e6b600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 370px;
    margin-bottom: 10px;
}
.notice-time {
    margin-top: 5px;
    font-size: 12px;
    line-height: 24px;
    color: #9fa0a0;
}
.notice-content {
    font-size: 14px;
    line-height: 24px;
    color: #9fa0a0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 院务公开 */
.publicityContainer {
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 580px;
    float: left;
    margin-right: 40px;
}
.publicityContainer:nth-child(2n) {
    margin-right: 0px;
}
.publicityContainer:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.publicityContainer a {
    display: block;
}
.publicityContainer:hover .publicity-time {
    background-color: #e6b600;
}
.publicity-time {
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    background-color: #226e6a;
}
.publicity-time .publicity-year {
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
}
.publicity-time .publicity-day {
    font-size: 24px;
    line-height: 24px;
    margin-top: 4px;
}
.publicity-summary {
    margin-left: 24px;
    width: 450px;
}
.publicity-title {
    font-size: 16px;
    line-height: 30px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 370px;
    margin-bottom: 10px;
}
.publicity-content {
    font-size: 14px;
    line-height: 24px;
    color: #9fa0a0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* partner */
.partner-container {
    width: 1162px;
    background-color: #fff;
    height: 258px;
    border-radius: 5px;
    padding: 19px 19px;
}
.partner-detail {
    width: 128px;
    height: 127px;
    border: 1px solid #d5d5d5;
    float: left;
    cursor: pointer;
}
.partner-detail a img {
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transform: scale(0.95);
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
}
.partner-detail a:hover img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.bdl {
    border-left: none;
}
.bdt {
    border-top: none;
}
/* footer */
.siteRelated {
    width: 100%;
    height: 198px;
    background-color: #00948d;
}
.downApp {
    width: 97px;
    margin-top: 27px;
    cursor: pointer;
    margin-right: 41px;
}
.downAppIcon {
    width: 90px;
    height: 110px;
}
.downAppTip {
    font-size: 16px;
    line-height: 40px;
    color: #2c2c2c;
    text-align: center;
}
.customer {
    width: 436px;
    margin-top: 60px;
}
.customer .service {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
.customer .service span {
    color: #fff;
}
.siteMap {
    width: 240px;
    margin-top: 56px;
}
.siteMap ul {
    width: 100%;
}
.siteMap ul li {
    width: 120px;
    float: left;
}
.siteMap ul li a {
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}
.siteMap ul li a:hover {
    color: #fff;
}
.weChat {
    width: 95px;
    margin-left: 23px;
    margin-top: 28px;
}
.weChatIcon {
    width: 95px;
    height: 95px;
}
.weChatDetail {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    text-align: center;
}
/* copyright */
.copyright {
    width: 100%;
    height: 60px;
    background-color: #1a6f65;
}
.copyright-info {
    font-size: 14px;
    line-height: 60px;
    color: #fff;
}
.certification {
    font-size: 14px;
    line-height: 60px;
    color: #c4c4c4;
}
.certification a {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
}
.certification a:hover {
    color: #fff;
}
.gov {
    display: flex;
    align-items: center;
}
.gov a {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    line-height: 60px;
}
.gov a div img {
    width: 18px;
    height: 20px;
    margin-right: 8px;
}
.gov a div {
    display: flex;
    align-items: center;
}
.gov a:hover {
    color: #fff;
}

/* 子页面 */
.sub-banner {
    height: 240px;
    line-height: 240px;
    text-align: center;
    background-color: #00948d;
    color: #fff;
    font-size: 36px;
    letter-spacing: 0.2em;
    font-weight: 700;
}
.sub-banner.culture-banner {
    background-color: #c50c11d9;
}
.info-content {
    padding: 24px 36px 36px;
}
.info-content img {
    width: 100%;
    margin: 10px auto;
}
#map-container img {
    margin: 0px;
}
.info-content-table {
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 10px;
}
.info-content-table a {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    display: block;
    line-height: 80px;
}
.info-content-title {
    font-size: 18px;
    color: #333;
}
.info-content-time {
    color: #01b39b;
}
.detail-content {
    padding: 36px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.detail-map-content {
    width: 50%;
    height: 360px;
}
.info-content-path {
    color: #999;
    line-height: 28px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 20px;
}
.info-content-path a {
    color: #444;
    display: inline-block;
}
.info-content-path span {
    display: inline-block;
}
.detail-content-title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    color: #555;
}
.detail-content-updatetime {
    color: #999;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

/* 医生介绍 */
.doctor-container {
    position: relative;
    height: 346px;
    margin-bottom: 20px;
}
.doctor-wrapper {
    position: relative;
}
.doctor-wrapper .doctor-handle {
    height: 89px;
    width: 35px;
    background: red;
    position: absolute;
    top: 180px;
    cursor: pointer;
}
.doctor-wrapper .doctor-handle.doctor-button-prev {
    left: -55px;
    background: url(/style/images/arrow-left.png) no-repeat;
}
.doctor-wrapper .doctor-handle.doctor-button-next {
    right: -55px;
    background: url(/style/images/arrow-right.png) no-repeat;
}
.doctor-item {
    width: 220px;
    height: 346px;
    border: 1px solid #d5d5d5;
    margin-right: 25px;
    box-sizing: border-box;
}
.doctor-item a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 18px;
    box-sizing: border-box;
}
.doctor-item .doctor-img {
    width: 144px;
    height: 200px;
    display: block;
    margin: 0px auto;
}
.doctor-item .doctor-name {
    font-size: 18px;
    line-height: 18px;
    color: #004098;
    width: 200px;
    margin: 10px auto;
    text-align: center;
}
.doctor-item .doctor-title {
    font-size: 12px;
    color: #999;
    line-height: 18px;
    width: 200px;
    margin: 10px auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.doctor-item .doctor-department {
    font-size: 14px;
    line-height: 30px;
    width: 200px;
    margin: 10px auto;
    padding: 10px 0px;
    text-align: center;
    border-top: 1px solid #e4e4e4;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.culture-container {
    margin-bottom: 30px;
}
.culture-swiper-container {
    width: 750px;
    height: 460px;
}
.culture-container .swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
    border: 1px solid #ccc;
    width: 10px;
    height: 10px;
}
.culture-container .swiper-pagination-bullet-active {
    background: #e6b600;
    border: 1px solid #e6b600;
}
.culture-container .culture-swiper-item {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.culture-container .culture-swiper-item img {
    width: 100%;
}
.culture-container .culture-swiper-item .culture-title {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    font-size: 16px;
    width: 710px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.culture-content {
    width: 450px;
    background-color: #f2f2f2;
    height: 460px;
}
.culture-content .culture-content-item {
    height: 92px;
    position: relative;
    padding: 20px 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}
.culture-content .culture-content-item:hover,
.culture-content .culture-content-item.active {
    background-color: #c50c11d9;
}
.culture-content .culture-content-item:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 40px;
    right: 40px;
    height: 1px;
    background-color: #d5d5d5;
}
.culture-content .culture-content-item:hover:after,
.culture-content .culture-content-item.active:after {
    background-color: #c50c11d9;
}
.culture-content .culture-content-item-title {
    height: 24px;
    overflow: hidden;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}
.culture-content .culture-content-item-time {
    color: #999;
    font-size: 13px;
}
.culture-content .culture-content-item:hover .culture-content-item-title,
.culture-content .culture-content-item.active .culture-content-item-title {
    color: #fff;
}
.culture-content .culture-content-item:hover .culture-content-item-time,
.culture-content .culture-content-item.active .culture-content-item-time {
    color: #fff;
}
.culture-content-table {
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
}
.culture-content-table a {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 0px;
    display: block;
}
.culture-content-table a img {
    width: 180px;
    height: 100px;
    display: block;
    margin: 0;
}
.culture-content-box {
    width: 920px;
}
.culture-content-title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}
.culture-content-time {
    font-size: 14px;
    color: #01b39b;
    margin-top: 50px;
}

.department-pannel .department-item {
    margin-bottom: 30px;
}
.department-item-title {
    font-weight: 700;
    font-style: normal;
    color: #00948d;
    line-height: 24px;
    font-size: 24px;
}
.department-item-list {
    margin-top: 20px;
    margin-right: -30px;
    display: flex;
    flex-wrap: wrap;
}
.department-item-list a {
    display: block;
    width: 265px;
    height: 50px;
    margin-right: 24px;
    position: relative;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0px 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: #333;
    font-size: 16px;
    transition: all 0.3s;
}
.department-item-list a:hover {
    color: #00948d;
    border-color: #00948d;
    box-shadow: 0px 10px 30px rgba(0, 148, 141, 0.2);
}
.doctor-content-container {
    margin-bottom: 10px;
}
.doctor-content-item {
    width: 356px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;
}
.detail-content-doctor {
    width: 100%;
    box-shadow: none;
    border: 1px solid #d5d5d5;
    border-radius: 12px;
}
.doctor-content-item:nth-child(3n) {
    margin-right: 0px;
}
.doctor-content-item .doctor-content-item-img {
    float: left;
    width: 88px;
    height: 120px;
    margin: 0px;
}
.detail-content-doctor .doctor-content-item-img {
    float: left;
    width: 144px;
    height: 200px;
    margin: 0px;
}
.doctor-content-item-detail {
    padding-bottom: 20px;
    border-bottom: 1px solid #d5d5d5;
}
.detail-content-doctor .doctor-content-item-detail {
    border: none;
    padding: 0px;
}
.detail-content-doctor .doctor-content-item-right {
    margin-left: 30px;
}
.doctor-content-item-right {
    width: 185px;
    font-size: 14px;
    line-height: 30px;
    color: #999;
}
.detail-content-doctor .doctor-content-item-right {
    width: 840px;
}
.doctor-content-item-title {
    font-size: 18px;
    font-weight: 700;
    color: #00948d;
}
.doctor-content-item-goodat {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    margin-top: 10px;
}
.doctor-content-item-goodat span {
    font-weight: 700;
}
.detail-doctor-content-item-goodat {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    margin-top: 10px;
}
.detail-doctor-content-item-goodat span {
    font-weight: 700;
}
.doctor-content-container .doctor-content-item:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.detail-menu-tabs {
    display: flex;
    justify-content: center;
    background: #00948d;
    padding-bottom: 10px;
}
.detail-menu-item {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    position: relative;
}
.detail-menu-item + .detail-menu-item {
    margin-left: 30px;
}
.detail-menu-item.active,
.detail-menu-item:hover {
    font-weight: 700;
    color: #ffa943;
}
.detail-menu-item.active:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 3px;
    background-color: #ffa943;
}

.pagination {
    margin-top: 20px;
}
.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 12px;
}
.pagination ul > li {
    display: inline-block;
    margin-right: 10px !important;
}
.pagination ul > li > a,
.pagination ul > li > span {
    float: left;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #c9caca;
    border-radius: 4px;
    color: #c9caca;
    text-align: center;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #00948d;
    color: #fff;
    border-color: #00948d;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #fff;
    cursor: default;
    border-color: #00948d;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
    color: #999;
    cursor: default;
    background-color: transparent;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}
.pagination-centered {
    text-align: center;
}
.first-arrow-ico {
    background: url(/style/images/first-arrow-ico.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
}
.pagination ul > li > a:hover .first-arrow-ico {
    background: #00948d url(/style/images/first-arrow-hover.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
}
.prev-arrow-ico {
    background: url(/style/images/prev-arrow-ico.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
}
.prev-arrow-ico:hover {
    background: #00948d url(/style/images/prev-arrow-hover.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
}
.next-arrow-ico {
    background: url(/style/images/next-arrow-ico.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
}
.next-arrow-ico:hover {
    background: #00948d url(/style/images/next-arrow-hover.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
}
.last-arrow-ico {
    background: url(/style/images/last-arrow-ico.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
}
.last-arrow-ico:hover {
    background: #00948d url(/style/images/last-arrow-hover.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
}
.pagination ul > li.first > a:hover {
    background: #00948d;
}
.pagination ul > li.prev > a:hover {
    background: #00948d;
}
.pagination ul > li.next > a:hover {
    background: #00948d;
}
.pagination ul > li.last > a:hover {
    background: #00948d;
}
