<%- include('../components/header', {title:title,active:'about'}); %>
<div class="sub-banner">联系我们</div>
<div class="main-content">
    <div class="info-content"><%-content %></div>
</div>
<%- include("../components/footer") -%>
