<%- include('../components/header', {title:title,active:'intro'}); %>
<div class="sub-banner">医院概况</div>
<div class="main-content">
    <div class="info-content"><%-content %></div>
</div>

<%- include("../components/footer") -%>
