<%- include('../components/header', {title:title,active:'notice'}); %>
<div class="sub-banner">通知公告</div>
<div class="main-content">
    <div class="info-content"><%-detail.noticeContent %></div>
</div>

<%- include("../components/footer") -%>
