<%- include('../components/header', {title:title,active:'publicity'}); %>
<div class="sub-banner">院务公开</div>
<div class="main-content">
    <div class="info-content"><%-detail.noticeContent %></div>
</div>

<%- include("../components/footer") -%>
