<!-- footer -->
<div class="footer">
    <div class="siteRelated">
        <div class="main-content">
            <div class="downApp fll">
                <div class="downAppIcon">
                    <img src="/style/images/institution.png" alt="事业单位" width="100%">
                </div>
            </div>
            <div class="customer fll">                
                <div class="service">地址：<span>广西壮族自治区柳州市三江侗族自治县古宜镇宜阳大道2号</span></div>
                <div class="service">电话：<span>0772-8612128</span></div>
            </div>
            <div class="siteMap fll">
                <ul>
                    <li>
                        <div><a href="/home/intro">医院概况</a></div>
                        <div><a href="/home/notice">通知公告</a></div>
                    </li>
                    <li>                        
                        <div><a href="/home/publicity">院务公开</a></div>
                        <div><a href="/home/about">联系我们</a></div>
                    </li>
                    
                </ul>
            </div>
            <div class="weChat flr" >
                <div class="weChatIcon"><img src="/style/images/gzh.jpg" height="95" width="95" alt="订阅号" title="订阅号" /></div>
                <div class="weChatDetail">订阅号</div>
            </div>
            <div class="weChat flr">
                <div class="weChatIcon"><img src="/style/images/gzh.jpg" height="95" width="95" alt="服务号" title="服务号" /></div>
                <div class="weChatDetail">服务号</div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="main-content">
            <div class="copyright-info fll">Copyright © 三江人民医院&emsp;&emsp;桂ICP备24036017号</div>
            <div class="certification flr">
                友情链接：
                <a href="http://www.nhc.gov.cn/" target="_blank">国家卫生健康委员会</a>
                &emsp;
                <a href="https://www.21wecan.com/" target="_blank">中国卫生人才网</a>
            </div>
        </div>
        <div class="blank"></div>
    </div>
</div>
</body>
</html>