<!DOCTYPE html>
<html lang="zh" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=1280">
    <meta name="author" content="Ruifox Inc.">
    <meta name="keywords" content="襄阳 第一人民医院,湖北医药学院附属襄阳市第一人民医院">
    <meta name="description" content="湖北省襄阳市第一人民医院（湖北医药学院附属襄阳市第一人民医院），始建于1949年8月，是一所国家三级甲等综合医院，2010年成为湖北医药学院附属襄阳医院，2011年设立湖北医药学院第四临床学院。">
    <title><%= title %>—三江人民医院【官方网站】</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style/css/animate.css">
    <link rel="stylesheet" href="/style/css/style.css">
    <script src="/style/js/jquery.min.js"></script>
    <script>
       (function(){
          var u = navigator.userAgent, app = navigator.appVersion;
          var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
          var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
          if(isAndroid || isiOS){              
              window.location.href='<%= redirect %>';
          }
       })()
    </script>
  </head>
  <body  style="overflow-y:scroll;">
    <header class="header-i-005" id="header-i-005">
      <div class="top-bar"></div>
      <div class="logo-row">
        <div class="layout">
              <div class="logo-search">
                  <a href="/" class="logo hide-text"><img src="/style/images/logo.png" alt="三江人民医院【官方网站】" /><h1 class="hide-text">三江人民医院【官方网站】</h1></a>
              </div>
              <!-- 导航栏 -->
              <nav class="nav main-nav" id="nav">
                  <ul class="nav-ul">
                      <li class="cur"><a href="https://www.xysdyrmyygw.com" >首页</a></li>
                                                              <li >
                      <a href="https://www.xysdyrmyygw.com/intro/"  >医院概况</a>
                      <!-- 科室设置没有下拉菜单 -->
                                                                                                                                                                                      <div class="subnav subnav-s-001">
                          <div class=" clearfix">
                              <ul class="dropMenu">
                                                                  <li><a href="https://www.xysdyrmyygw.com/introduce/" >医院简介</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/hos_culture/" >医院领导</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/history/" >历史沿革</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/leadship_ljyc/" >精彩图集</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/yywh/" >医院文化</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/hos_honor/" >医院荣誉</a></li>
                                                              </ul>
                          </div>
                      </div>
                                          </li>
                                          <li >
                      <a href="https://www.xysdyrmyygw.com/news/"  >新闻中心</a>
                      <!-- 科室设置没有下拉菜单 -->
                                                                                                                                                                                                                              <div class="subnav subnav-s-001">
                          <div class=" clearfix">
                              <ul class="dropMenu">
                                                                  <li><a href="https://www.xysdyrmyygw.com/news_yldt/" >医疗动态</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/news_xwdt/" >新闻动态</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/technology/" >媒体报道</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/news_video/" >视频宣传</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/catspecial_xzzq/" >下载专区</a></li>
                                                              </ul>
                          </div>
                      </div>
                                          </li>
                                          <li >
                      <a href="https://www.xysdyrmyygw.com/spe_subject/"  >患者服务</a>
                      <!-- 科室设置没有下拉菜单 -->
                                                                                                                                                                                                                                                                                                              <div class="subnav subnav-s-001">
                          <div class=" clearfix">
                              <ul class="dropMenu">
                                                                  <li><a href="https://www.xysdyrmyygw.com/spe_subject/" >预约服务</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/service_mzjy/" >门诊就医</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/service_cryfw/" >出/入院服务</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/service_jktj/" >健康体检</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/hos_guide/" >医保信息</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/hos_nav_jtzn/" >交通导航</a></li>
                                                              </ul>
                          </div>
                      </div>
                                          </li>
                                          <li >
                      <a href="https://www.xysdyrmyygw.com/zjjs_lzmy/"  >专家介绍</a>
                      <!-- 科室设置没有下拉菜单 -->
                                                                                                      <div class="subnav subnav-s-001">
                          <div class=" clearfix">
                              <ul class="dropMenu">
                                                                  <li><a href="https://www.xysdyrmyygw.com/zjjs_lzmy/" >隆中名医</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/expert/" >专家介绍</a></li>
                                                              </ul>
                          </div>
                      </div>
                                          </li>
                                          <li >
                      <a href="https://www.xysdyrmyygw.com/department/"  >科室导航</a>
                      <!-- 科室设置没有下拉菜单 -->
                                                                                                      <div class="subnav subnav-s-001">
                          <div class=" clearfix">
                              <ul class="dropMenu">
                                                                  <li><a href="https://www.xysdyrmyygw.com/department/" >科室导航</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/ksdh_szdzk/" >省重点专科</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/ksdh_lcyj/" >临床研究</a></li>
                                                              </ul>
                          </div>
                      </div>
                                          </li>
                                          <li >
                      <a href="https://www.xysdyrmyygw.com/323gjxd/"  >健康科普</a>
                      <!-- 科室设置没有下拉菜单 -->
                                                                                                      <div class="subnav subnav-s-001">
                          <div class=" clearfix">
                              <ul class="dropMenu">
                                                                  <li><a href="https://www.xysdyrmyygw.com/323gjxd/" >323攻坚行动</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/kpzs/" >科普知识</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/hlyd_jkkp0_d1jk/" >第1健康</a></li>
                                                              </ul>
                          </div>
                      </div>
                                          </li>
                                          <li >
                      <a href="https://www.xysdyrmyygw.com/news_zbgg/"  >公告通知</a>
                      <!-- 科室设置没有下拉菜单 -->
                                                                                                      <div class="subnav subnav-s-001">
                          <div class=" clearfix">
                              <ul class="dropMenu">
                                                                  <li><a href="https://www.xysdyrmyygw.com/news_zbgg/" >招标公告</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/news_rczp/" >人才招聘</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/catspecial_ywgk/" >院务公开</a></li>
                                                              </ul>
                          </div>
                      </div>
                                          </li>
                                          <li >
                      <a href="https://www.xysdyrmyygw.com/culture/"  >党建文化</a>
                      <!-- 科室设置没有下拉菜单 -->
                                                                                                                                                                                                                                                                                                                                                                                                                                      <div class="subnav subnav-s-001">
                          <div class=" clearfix">
                              <ul class="dropMenu">
                                                                  <li><a href="https://www.xysdyrmyygw.com/party_build_gzdt/" >党务工作</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/culture_jjjc/" >纪检监察</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/party_news/" >先进风采</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/culture_zbdt/" >工青妇</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/culture_jcdj/" >精神文明</a></li>
                                                              </ul>
                          </div>
                      </div>
                                          </li>
                                          <li >
                      <a href="https://www.xysdyrmyygw.com/lcxy/"  >临床学院</a>
                      <!-- 科室设置没有下拉菜单 -->
                                                                                                      <div class="subnav subnav-s-001">
                          <div class=" clearfix">
                              <ul class="dropMenu">
                                                                  <li><a href="https://www.xysdyrmyygw.com/lcxy_jxdt/" >教学动态</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/lcxy_yjsjy/" >研究生教育</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/lcxy_gpjy/" >规培教育</a></li>
                                                                  <li><a href="https://lib.hbmu.edu.cn/" target="_blank">图书馆</a></li>
                                                                  <li><a href="https://dslc.hbmu.edu.cn/" target="_blank">第四临床学院</a></li>
                                                              </ul>
                          </div>
                      </div>
                                          </li>
                                          <li >
                      <a href="https://www.xysdyrmyygw.com/tech_news/"  >科学研究</a>
                      <!-- 科室设置没有下拉菜单 -->
                                                                                                                                                                                      <div class="subnav subnav-s-001">
                          <div class=" clearfix">
                              <ul class="dropMenu">
                                                                  <li><a href="https://www.xysdyrmyygw.com/tech_news_kydt/" >科研动态</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/tech_news_cgzs/" >成果展示</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/tech_news_kypt/" >科研平台</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/tech_news_xsdt/" >学术动态</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/pjsbyjzx/" >帕金森病研究中心</a></li>
                                                              </ul>
                          </div>
                      </div>
                                          </li>
                                          <li >
                      <a href="https://www.xysdyrmyygw.com/hlyd/"  >护理园地</a>
                      <!-- 科室设置没有下拉菜单 -->
                                                                                                                                                                                      <div class="subnav subnav-s-001">
                          <div class=" clearfix">
                              <ul class="dropMenu">
                                                                  <li><a href="https://www.xysdyrmyygw.com/hlgk/" >护理概况</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/hlyd_hlxw/" >护理新闻</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/hlyd_yzhl/" >优质护理</a></li>
                                                              </ul>
                          </div>
                      </div>
                                          </li>
                                          <li >
                      <a href="https://www.xysdyrmyygw.com/xyq_yqjs_/"  >分院区</a>
                      <!-- 科室设置没有下拉菜单 -->
                                                                                                      <div class="subnav subnav-s-001">
                          <div class=" clearfix">
                              <ul class="dropMenu">
                                                                  <li><a href="https://www.xysdyrmyygw.com/xyq_yqjs_/" >西院区</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/fyq_gxyq_yqjs/" >高新院区</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/xyq_yqjj_yqjs/" >康复院区</a></li>
                                                                  <li><a href="https://www.xysdyrmyygw.com/xyq_djyq_yqjs/" >东津院区</a></li>
                                                              </ul>
                          </div>
                      </div>
                                          </li>
                                      </ul>
                  <div class="float-bg" id="float_bg"></div>
              </nav>
        </div>
    </div>
          <!-- 没有数据时弹框 -->
      <div class="nodata-box">
          <div class="inner-nodata-box">
              <img src="//static.xysdyrmyygw.com/images/nodata.jpg" alt="">
              <p>部分栏目正在建设中</p>
          </div>
      </div>
    </header>

